* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: url("../img/img-dia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#container-main {
    background: hsla(40, 7%, 8%, 0.6);
    border-radius: 3rem;
    width: 50rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}   